.idea
_secret_auth_.json
__pycache__
 page/__pycache__
 page/backend/DB/base.db
 page/backend/Parsing_custom_setting.py
 page/backend/Token.py
 page/backend/__pycache__
 page/frontend/Highcharts/__pycache__
 page/frontend/Mui/__pycache__
 page/frontend/__pycache__/